<div class='headerIncomingCTF forms col-sm-12'>
  <h4>Incoming CTF Header</h4>
  <form class='form'>
    <div class='col-sm-4'>
      <input type='hidden' class='form-control' id='transCode' name='transCode' maxlength='2' value='90'>
      <div class='form-group'>
        <label for='processingBIN'>Processing BIN</label>
        <input type='text' class='form-control' id='processingBIN' name='processingBIN' maxlength='6'>
      </div>
      <div class='form-group'>
        <label for='processingDate'>Processing Date (YYDDD)</label>
        <input type='text' class='form-control' id='processingDate' name='processingDate' maxlength='5'>
      </div>
      <input type='hidden' class='form-control' id='reserved1' name='reserved1' maxlength='6' value='      '>
      <div class='form-group'>
        <label for='settlementDate'>Settlement Date (YYDDD)</label>
        <input type='text' class='form-control' id='settlementDate' name='settlementDate' maxlength='5'>
      </div>
      <input type='hidden' class='form-control' id='reserved2' name='reserved2' maxlength='2' value='  '>
    </div>
    <div class='col-sm-4'>
      <div class='form-group'>
        <label for='releaseNum'>Release Number</label>
        <input type='text' class='form-control' id='releaseNum' name='releaseNum' maxlength='3'>
      </div>
      <div class='form-group'>
        <label for='testOption'>Test Option</label>
        <select id='testOption' name='testOption' class='form-control'>
          <option value='TEST'>TEST</option>
          <option value='0000'>0000</option>
          <option value='    '>Space Fill</option>
        </select>
        <!-- <input type='text' class='form-control' id='testOption' name='testOption' maxlength='4'> -->
      </div>
      <input type='hidden' class='form-control' id='reserved3' name='reserved3' maxlength='6' value='      '>
      <div class='form-group'>
        <label for='securityCode'>Security Code</label>
        <input type='text' class='form-control' id='securityCode' name='securityCode' maxlength='8'>
      </div>
    </div>
    <div class='col-sm-4'>
      <input type='hidden' class='form-control' id='reserved4' name='reserved4' maxlength='6' value='      '>
      <div class='form-group'>
        <label for='incomingFileID'>Incoming File ID</label>
        <input type='text' class='form-control' id='incomingFileID' name='incomingFileID' maxlength='3'>
      </div>
      <input type='hidden' class='form-control' id='reserved5' name='reserved5' maxlength='89' value='                                                                                         '>
      <br>
      <button type='button' id='delete' class='btn btn-danger'>Delete</button>
    </div>
  </form>
</div>
