<div class='tcr0 forms col-sm-12'>
  <h4>TCR 0</h4>
  <form class='form'>
    <div class='col-sm-4'>
      <div class='form-group'>
        <label for='transCode'>Transaction Code</label>
        <select id='transCode' name='transCode' class='form-control'>
          <option value='05'>Sales Draft</option>
          <option value='06'>Credit Voucher</option>
          <option value='07'>Cash Disbursement</option>
          <option value='15'>Sales Draft Chargeback</option>
          <option value='16'>Credit Voucher Chargeback</option>
          <option value='17'>Cash Disbursement Chargeback</option>
        </select>
      </div>
      <div class='form-group'>
      <label for='transCodeQualifier'>Transaction Code Qualifier</label>
      <select id='transCodeQualifier' name='transCodeQualifier' class='form-control'>
        <option value='0'>Default</option>
        <option value='1'>Account Funding</option>
        <option value='2'>Original Credit</option>
      </select>
      </div>
      <input type='hidden' class='form-control' id='transCompSeqNum' name='transCompSeqNum' maxlength='1' value='0'>
      <div class='form-group'>
        <label for='acctNum'>Account Number</label>
        <input type='text' class='form-control' id='acctNum' name='acctNum' maxlength='16'>
      </div>
      <div class='form-group'>
        <label for='acctNumExt'>Account Number Extension</label>
        <input type='text' class='form-control' id='acctNumExt' name='acctNumExt' maxlength='3'>
      </div>
      <div class='form-group'>
        <label for='floorLimitIndicator'>Floor Limit Indicator</label>
        <select id='floorLimitIndicator' name='floorLimitIndicator' class='form-control'>
          <option value=' '>Floor limit validation not performed</option>
          <option value='I'>Insufficient information to determine floor limit</option>
          <option value='Z'>Zero floor limit</option>
          <option value='A'>Above floor limit by more than 20%</option>
          <option value='B'>Below floor limit by more than 20%</option>
          <option value='C'>Above floor limit by 20% or less</option>
          <option value='D'>Below floor limit by 20% or less, or at the floor limt</option>
        </select>
      </div>
      <div class='form-group'>
        <label for='crb'>CRB/Exception File Indicator</label>
        <input type='text' class='form-control' id='crb' name='crb' maxlength='1'>
      </div>
      <div class='form-group'>
        <label for='pcasIndicator'>Positive Cardholder Authorization Service (PCAS) Indicator</label>
        <select id='pcasIndicator' name='pcasIndicator' class='form-control'>
          <option value=' '>Unknown</option>
          <option value='N'>Authorization was not issued by PCAS</option>
        </select>
      </div>
      <div class='form-group'>
        <label for='acqRefNum'>Acquirer Reference Number</label>
        <input type='text' class='form-control' id='acqRefNum' name='acqRefNum' maxlength='23'>
      </div>
      <div class='form-group'>
        <label for='acqBusId'>Acquirer's Business ID</label>
        <input type='text' class='form-control' id='acqBusId' name='acqBusId' maxlength='8'>
      </div>
      <div class='form-group'>
        <label for='purchaseDate'>Purchase Date (MMDD)</label>
        <input type='text' class='form-control' id='purchaseDate' name='purchaseDate' maxlength='4'>
      </div>
      <div class='form-group'>
        <label for='destAmt'>Destination Amount</label>
        <input type='text' class='form-control' id='destAmt' name='destAmt' maxlength='12'>
      </div>
      <div class='form-group'>
        <label for='destCurrCode'>Destination Currency Code</label>
        <input type='text' class='form-control' id='destCurrCode' name='destCurrCode' maxlength='3'>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='form-group'>
        <label for='sourceAmt'>Source Amount</label>
        <input type='text' class='form-control' id='sourceAmt' name='sourceAmt' maxlength='12'>
      </div>
      <div class='form-group'>
        <label for='sourceCurrCode'>Souce Currency Code</label>
        <input type='text' class='form-control' id='sourceCurrCode' name='sourceCurrCode' maxlength='3'>
      </div>
      <div class='form-group'>
        <label for='merchantName'>Merchant Name</label>
        <input type='text' class='form-control' id='merchantName' name='merchantName' maxlength='25'>
      </div>
      <div class='form-group'>
        <label for='merchantCity'>Merchant City</label>
        <input type='text' class='form-control' id='merchantCity' name='merchantCity' maxlength='13'>
      </div>
      <div class='form-group'>
        <label for='merchantCountryCode'>Merchant Country Code</label>
        <input type='text' class='form-control' id='merchantCountryCode' name='merchantCountryCode' maxlength='3'>
      </div>
      <div class='form-group'>
        <label for='merchantCategoryCode'>Merchant Category Code</label>
        <input type='text' class='form-control' id='merchantCategoryCode' name='merchantCategoryCode' maxlength='4'>
      </div>
      <div class='form-group'>
        <label for='merchantZipCode'>Merchant ZIP Code</label>
        <input type='text' class='form-control' id='merchantZipCode' name='merchantZipCode' maxlength='5'>
      </div>
      <div class='form-group'>
        <label for='merchantState'>Merchant State/Province Code</label>
        <input type='text' class='form-control' id='merchantState' name='merchantState' maxlength='3'>
      </div>
      <div class='form-group'>
        <label for='requestedPaymentService'>Requested Payment Service</label>
        <select id='requestedPaymentService' name='requestedPaymentService' class='form-control'>
          <option value=' '>not a CPS transaction</option>
          <option value='9'>CPS/ATM</option>
        </select>
      </div>
      <div class='form-group'>
        <label for='numOfPaymentForms'>Number of Payment Forms</label>
        <select id='numOfPaymentForms' name='numOfPaymentForms' class='form-control'>
          <option value=' '>1 through 9</option>
          <option value='+'>for values greater than 9</option>
        </select>
      </div>
      <div class='form-group'>
        <label for='usageCode'>Usage Code</label>
        <select id='usageCode' name='usageCode' class='form-control'>
          <option value='1'>First presentment</option>
          <option value='2'>Second presentment</option>
        </select>
      </div>
      <div class='form-group'>
        <label for='reasonCode'>Reason Code</label>
        <input type='text' class='form-control' id='reasonCode' name='reasonCode' maxlength='2'>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='form-group'>
        <label for='settlementFlag'>Settlement Flag</label>
        <select id='settlementFlag' name='settlementFlag' class='form-control'>
          <option value='0'>International settlement service</option>
          <option value='3'>Clearing-only</option>
          <option value='8'>National Net settlement service</option>
          <option value='9'>BASE II selects the appropriate service</option>
        </select>
      </div>
      <div class='form-group'>
        <label for='authCharIndicator'>Authorization Characteristics Indicator</label>
        <select id='authCharIndicator' name='authCharIndicator' class='form-control'>
          <option value=' '>Space</option>
          <option value='T'>T</option>
          <option value='N'>N</option>
        </select>
      </div>
      <div class='form-group'>
        <label for='authCode'>Authorization Code</label>
        <input type='text' class='form-control' id='authCode' name='authCode' maxlength='6'>
      </div>
      <div class='form-group'>
        <label for='posTerminalCapability'>POS Terminal Capability</label>
        <input type='text' class='form-control' id='posTerminalCapability' name='posTerminalCapability' maxlength='1'>
      </div>
      <div class='form-group'>
        <label for='intlFeeIndicator'>International Fee Indicator</label>
        <input type='text' class='form-control' id='intlFeeIndicator' name='intlFeeIndicator' maxlength='1'>
      </div>
      <div class='form-group'>
        <label for='cardholderIdMethod'>Cardholder ID Method</label>
        <input type='text' class='form-control' id='cardholderIdMethod' name='cardholderIdMethod' maxlength='1'>
      </div>
      <div class='form-group'>
        <label for='collectionOnlyFlag'>Collection-Only Flag</label>
        <input type='text' class='form-control' id='collectionOnlyFlag' name='collectionOnlyFlag' maxlength='1'>
      </div>
      <div class='form-group'>
        <label for='posEntryMode'>POS Entry Mode</label>
        <input type='text' class='form-control' id='posEntryMode' name='posEntryMode' maxlength='2'>
      </div>
      <div class='form-group'>
        <label for='centralProcessDate'>Central Processing Date</label>
        <input type='text' class='form-control' id='centralProcessDate' name='centralProcessDate' maxlength='4'>
      </div>
      <div class='form-group'>
        <label for='reimbursementAttribute'>Reimbursement Attribute</label>
        <input type='text' class='form-control' id='reimbursementAttribute' name='reimbursementAttribute' maxlength='1'>
      </div>
      <br>
      <button type='button' id='deleteTCR0' class='btn btn-danger'>Delete</button>
    </div>
  </form>
</div>
