<div id='mainArea'>
</div>

<button type='button' id='addTCR0' class='btn btn-primary'>Add TCR0</button>
<button type='button' id='addTCR1' class='btn btn-primary'>Add TCR1</button>
<button type='button' id='addTCR5' class='btn btn-primary'>Add TCR5</button>
<button type='button' id='generate' class='btn btn-success'>Generate</button>

<% include _partials/TCR0 %>
<% include _partials/TCR1 %>
<% include _partials/TCR5 %>