<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='/'>Main Menu</a>
    </div>
  </div>
</nav>

<center><h1 id=type> <%= type %> </h1></center>
<div id='mainArea'>
</div>

<div class='col-lg-6 col-lg-offset-3'>
  <button type='button' id='addHeaderIncomingCTF' class='btn btn-primary'>Add Header</button>
  <button type='button' id='addTCR0' class='btn btn-primary'>Add TCR0</button>
  <button type='button' id='addTCR1' class='btn btn-primary'>Add TCR1</button>
  <button type='button' id='addTCR5' class='btn btn-primary'>Add TCR5</button>
  <button type='button' id='addTrailer' class='btn btn-primary'>Add Trailer</button>
  <button type='button' id='generate' class='btn btn-success'>Generate</button>
</div>

<% include partials/TCR0 %>
<% include partials/TCR1 %>
<% include partials/TCR5 %>
<% include partials/headerIncomingCTF %>
<% include partials/trailer %>