<div class='jumbotron'>
  <h1>Base II File Generator</h1>
</div>

<h1>Choose a file to create:</h1>
<button type='button' id='firstPresentment' class='btn btn-primary'>1st Presentment</button>
<button type='button' id='chargeback' class='btn btn-primary'>Chargeback</button>
<button type='button' id='representment' class='btn btn-primary'>Representment</button>
