<div class='tcr0 forms'>
  <h3>TCR 0</h3>
  <form class='form-inline'>
    <div class='form-group'>
      <label for='transCode'>Transaction Code</label>
      <input type='text' class='form-control' id='transCode' name='transCode' maxlength='2'>
    </div>
    <div class='form-group'>
      <label for='transCodeQualifier'>Transaction Code Qualifier</label>
      <input type='text' class='form-control' id='transCodeQualifier' name='transCodeQualifier' maxlength='1'>
    </div>
    <div class='form-group'>
      <input type='hidden' class='form-control' id='transCompSeqNum' name='transCompSeqNum' maxlength='1' value='0'>
    </div>
    <div class='form-group'>
      <label for='acctNum'>Account Number</label>
      <input type='text' class='form-control' id='acctNum' name='acctNum' maxlength='16'>
    </div>
    <div class='form-group'>
      <label for='acctNumExt'>Account Number Extension</label>
      <input type='text' class='form-control' id='acctNumExt' name='acctNumExt' maxlength='3'>
    </div>
    <div class='form-group'>
      <label for='floorLimitIndicator'>Floor Limit Indicator</label>
      <input type='text' class='form-control' id='floorLimitIndicator' name='floorLimitIndicator' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='crb'>CRB/Exception File Indicator</label>
      <input type='text' class='form-control' id='crb' name='crb' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='pcasIndicator'>Positive Cardholder Authorization Service (PCAS) Indicator</label>
      <input type='text' class='form-control' id='pcasIndicator' name='pcasIndicator' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='acqRefNum'>Acquirer Reference Number</label>
      <input type='text' class='form-control' id='acqRefNum' name='acqRefNum' maxlength='23'>
    </div>
    <div class='form-group'>
      <label for='acqBusId'>Acquirer's Business ID</label>
      <input type='text' class='form-control' id='acqBusId' name='acqBusId' maxlength='8'>
    </div>
    <div class='form-group'>
      <label for='purchaseDate'>Purchase Date (MMDD)</label>
      <input type='text' class='form-control' id='purchaseDate' name='purchaseDate' maxlength='4'>
    </div>
    <div class='form-group'>
      <label for='destAmt'>Destination Amount</label>
      <input type='text' class='form-control' id='destAmt' name='destAmt' maxlength='12'>
    </div>
    <div class='form-group'>
      <label for='destCurrCode'>Destination Currency Code</label>
      <input type='text' class='form-control' id='destCurrCode' name='destCurrCode' maxlength='3'>
    </div>
    <div class='form-group'>
      <label for='sourceAmt'>Source Amount</label>
      <input type='text' class='form-control' id='sourceAmt' name='sourceAmt' maxlength='12'>
    </div>
    <div class='form-group'>
      <label for='sourceCurrCode'>Souce Currency Code</label>
      <input type='text' class='form-control' id='sourceCurrCode' name='sourceCurrCode' maxlength='3'>
    </div>
    <div class='form-group'>
      <label for='merchantName'>Merchant Name</label>
      <input type='text' class='form-control' id='merchantName' name='merchantName' maxlength='25'>
    </div>
    <div class='form-group'>
      <label for='merchantCity'>Merchant City</label>
      <input type='text' class='form-control' id='merchantCity' name='merchantCity' maxlength='13'>
    </div>
    <div class='form-group'>
      <label for='merchantCountryCode'>Merchant Country Code</label>
      <input type='text' class='form-control' id='merchantCountryCode' name='merchantCountryCode' maxlength='3'>
    </div>
    <div class='form-group'>
      <label for='merchantCategoryCode'>Merchant Category Code</label>
      <input type='text' class='form-control' id='merchantCategoryCode' name='merchantCategoryCode' maxlength='4'>
    </div>
    <div class='form-group'>
      <label for='merchantZipCode'>Merchant ZIP Code</label>
      <input type='text' class='form-control' id='merchantZipCode' name='merchantZipCode' maxlength='5'>
    </div>
    <div class='form-group'>
      <label for='merchantState'>Merchant State/Province Code</label>
      <input type='text' class='form-control' id='merchantState' name='merchantState' maxlength='3'>
    </div>
    <div class='form-group'>
      <label for='requestedPaymentService'>Requested Payment Service</label>
      <input type='text' class='form-control' id='requestedPaymentService' name='requestedPaymentService' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='numOfPaymentForms'>Number of Payment Forms</label>
      <input type='text' class='form-control' id='numOfPaymentForms' name='numOfPaymentForms' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='usageCode'>Usage Code</label>
      <input type='text' class='form-control' id='usageCode' name='usageCode' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='reasonCode'>Reason Code</label>
      <input type='text' class='form-control' id='reasonCode' name='reasonCode' maxlength='2'>
    </div>
    <div class='form-group'>
      <label for='settlementFlag'>Settlement Flag</label>
      <input type='text' class='form-control' id='settlementFlag' name='settlementFlag' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='authCharIndicator'>Authorization Characteristics Indicator</label>
      <input type='text' class='form-control' id='authCharIndicator' name='authCharIndicator' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='authCode'>Authorization Code</label>
      <input type='text' class='form-control' id='authCode' name='authCode' maxlength='6'>
    </div>
    <div class='form-group'>
      <label for='posTerminalCapability'>POS Terminal Capability</label>
      <input type='text' class='form-control' id='posTerminalCapability' name='posTerminalCapability' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='intlFeeIndicator'>International Fee Indicator</label>
      <input type='text' class='form-control' id='intlFeeIndicator' name='intlFeeIndicator' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='cardholderIdMethod'>Cardholder ID Method</label>
      <input type='text' class='form-control' id='cardholderIdMethod' name='cardholderIdMethod' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='collectionOnlyFlag'>Collection-Only Flag</label>
      <input type='text' class='form-control' id='collectionOnlyFlag' name='collectionOnlyFlag' maxlength='1'>
    </div>
    <div class='form-group'>
      <label for='posEntryMode'>POS Entry Mode</label>
      <input type='text' class='form-control' id='posEntryMode' name='posEntryMode' maxlength='2'>
    </div>
    <div class='form-group'>
      <label for='centralProcessDate'>Central Processing Date</label>
      <input type='text' class='form-control' id='centralProcessDate' name='centralProcessDate' maxlength='4'>
    </div>
    <div class='form-group'>
      <label for='reimbursementAttribute'>Reimbursement Attribute</label>
      <input type='text' class='form-control' id='reimbursementAttribute' name='reimbursementAttribute' maxlength='1'>
    </div>
    <br>
    <button type='button' id='deleteTCR0' class='btn btn-danger'>Delete</button>
  </form>
</div>
